header {
    background-color: red;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.4s;
    transition-delay: 0.2s;
}

.showed_header {
    top: 0;
}

.closed_header {
    top: -80px;
}