.header_wrapper {
    background-color: $dark-blue;
    height: 64px;
    width: 100%;
}
header {
    background-color: $dark-blue;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
    transition: 0.4s;
    transition-delay: 0.2s;
    .header_navs_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14px;
        width: fit-content;
        .header_brand {
            height: 20px;
            width: 154px;
        }
        .header_nav {
            font-family: 'Source Sans Pro', Arial, sans-serif;
            color: white;
            font-weight: 600;
            letter-spacing: 0.8px;
            font-size: 15px;
        }
        .header_hovered_nav_wrapper {
            position: relative;
            padding: 10px;
            &:hover > .hovered_nav_result {
                display: block !important;
            }
        }
    }
}

.showed_header {
    top: 0;
}

.closed_header {
    top: -80px;
}