main {
    margin: 64px 0 0 0;
    height: 300vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    .main_head_images_wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
        widows: 100%;
        height: fit-content;
        .main_head_wrapper {
            height: calc((100vh - 64px) / 2);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            color: white;
            .main_head {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                gap: 20px;
                padding: 40px;
                .main_search_wrapper {
                    width: 100%;
                    height: fit-content;
                    .search_input_wrapper {
                        width: 100%;
                        height: fit-content;
                        position: relative;
                        .search_input {
                            width: 100%;
                            height: fit-content;
                            padding: 10px 20px;
                            border-radius: 50px;
                            font-size: 17px;
                            color: gray;
                            border-color: transparent !important;
                            outline-color: transparent !important;
                        }
                        .search_button {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            width: fit-content;
                            height: 100%;
                            border-radius: 50px;
                            padding: 0 25px;
                            font-weight: 700;
                            font-size: 14px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            color: white;
                            background: $green-linear-gradient;
                            &:hover {
                                color: black;
                            }
                        }
                    }
                }
            }
            &:nth-child(1) {
                background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg");
                .head_title {
                    font-weight: 700;
                    font-size: 44px;
                }
                .head_about {
                    font-weight: 600;
                    font-size: 30px;
                }
            }
            &:nth-child(2) {
                background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces/rGbRnRvkmrSub07ty89Vnlsh6UX.jpg");
                .main_head {
                    background-color: rgba(45,28,111,0.5);
                }
                .title_wrapper {
                    font-weight: 600;
                    font-size: 64px;
                    text-transform: uppercase;
                    border-bottom: 1px solid white;
                }
                .head_about {
                    font-weight: 400;
                    font-size: 18px;
                }
                .head_button {
                    padding: 8px 16px;
                    border-radius: 30px;
                    background-color: transparent;
                    color: white;
                    border: 2px solid white;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: 600;
                    font-size: 1em;
                    gap: 4px;
                    .arrow_to_right {
                        width: 16px;
                        height: 16px;
                        display: block;
                    }
                }
            }
        }
    }
    .main_films_wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 0 90px;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        
    }
}