.movie_content_wrapper {
    padding: 0;
    z-index: -100;
    .movie_content_head_wrapper {
        height: calc(100vh - 110px);
        width: 100%;
        background-size: cover;
        background-position: 240px 0;
        background-repeat: no-repeat;
        .movie_content_head {
            display: flex;
            flex-direction: row;
            gap: 40px;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 40px 80px;
            color: white;
            width: 100%;
            height: 100%;
            background: $black-gradient;
            .movie_img_wrapper {
                width: fit-content;
                height: fit-content;
                position: relative;
                .movie_img {
                    border-radius: 8px;
                    max-width: 300px;
                    max-height: 450px;
                    height: 450px;
                    width: 300px;
                    transition: 0.3s;
                    &:hover {
                        & + .img_info_link {
                            opacity: 1;
                        }
                    }
                }
                .img_info_link {
                    transition: 0.3s;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.7);
                    backdrop-filter: blur(20px);
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                    color: gray;
                    font-size: 18px;
                    font-weight: 600;
                    .fullscreen_icon {
                        width: 26px;
                        height: 26px;
                        margin-bottom: 2px;
                    }
                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
            .movie_title_wrapper {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: fit-content;
                height: fit-content;
                .movie_title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: fit-content;
                    height: fit-content;
                    gap: 10px;
                    font-weight: 600;
                    font-size: 32px;
                    .movie_release_year {
                        font-weight: 300;
                        font-size: 30px;
                        opacity: 0.8;
                    }
                }
                .title_info_wrapper {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    width: fit-content;
                    height: fit-content;
                    .version_btn {
                        width: fit-content;
                        height: fit-content;
                        font-size: 14px;
                        color: $gray;
                        border: 1px solid $gray;
                        padding: 2px 4px;
                        border-radius: 4px;
                    }
                    .title_release_date {
                        font-weight: 500;
                        font-size: 15px;
                        font-family: 'Source Sans Pro', Arial;
                    }
                    .title_genres {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;
                        gap: 10px;
                        font-size: 15px;
                        &::before {
                            margin-top: 4px;
                            content: '\2022';
                        }
                    }
                    .title_time {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        height: fit-content;
                        gap: 10px;
                        font-size: 15px;
                        &::before {
                            margin-top: 4px;
                            content: '\2022';
                        }
                    }
                }
            }
            .about_movie_wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: fit-content;
                height: fit-content;
                .movie_content_info_wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 20px;
                    width: 100%;
                    z-index: 1;
                    .movie_estimation_wrapper {
                        font-family: 'Inter', Arial, sans-serif;
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                        align-items: center;
                        width: fit-content;
                        height: fit-content;
                        .movie_rating_wrapper {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 10px;
                            .popularity_wrapper {
                                scale: 1.85;
                                margin: 18px;
                                transition: 0.3s;
                                &:hover {
                                    scale: 2.05;
                                    cursor: pointer;
                                }
                            }
                            .movie_rating_title {
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                        .movie_options_wrapper {
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            width: fit-content;
                            height: fit-content;
                            .movie_option {
                                width: 46px;
                                height: 46px;
                                padding: 14px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                background-color: $dark-blue;
                                position: relative;
                                .option_tooltip {
                                    display: none;
                                    position: absolute;
                                    left: auto;
                                    right: auto;
                                    top: calc(100% + 10px);
                                    width: fit-content;
                                    height: fit-content;
                                    padding: 4px 12px;
                                    background-color: $dark-blue;
                                    border-radius: 4px;
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        bottom: 100%;
                                        left: calc(50% - 6px);
                                        border: 6px solid;
                                        border-color: transparent transparent $dark-blue transparent;
                                    }
                                    .tooltip_text {
                                        font-size: 14px;
                                        color: white;
                                        white-space: nowrap;
                                    }
                                }
                                &:hover {
                                    cursor: pointer;
                                    & > .option_tooltip {
                                        display: block;
                                    }
                                }
                            }
                        }
                        .movie_trailer_link {
                            font-size: 14px;
                            font-weight: 600;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            width: fit-content;
                            height: fit-content;
                            gap: 8px;
                            &:hover {
                                cursor: pointer;
                                opacity: 0.7;
                            }
                            &::before {
                                content: '';
                                width: 14px;
                                height: 14px;
                                display: inline-block;
                                background-image: url("../../Images/triangle.jpg");
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
                .movie_overview_wrapper {
                    font-family: 'Source Sans Pro', Arial, sans-serif;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: fit-content;
                    height: fit-content;
                    .movie_part_text {
                        font-size: 18px;
                        opacity: 0.7;
                        font-style: italic;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .movie_overview {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .overview_title {
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .overview {
                            font-size: 16.1px;
                            white-space: normal;
                            word-wrap: break-word;
                            text-overflow: clip;
                        }
                    }
                }
            }
        }
    }
    .movie_details_wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 40px;
        font-family: 'Source Sans Pro', Arial, sans-serif;
        .cast_wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: start;
            padding: 20px;
            .cast_list_title {
                font-size: 22px;
                color: black;
                font-weight: 600;
            }
            .cast_list_wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;
                padding: 0 40px 40px 0;
                width: 100%;
                overflow: auto;
                height: fit-content;
                .cast_card_wrapper {
                    cursor: pointer;
                    min-width: 140px;
                    width: 140px;
                    min-height: 100%;
                    // height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    border-radius: 8px;
                    overflow: hidden;
                    border: 1px solid rgb(227, 227, 227);
                    .cast_info_wrapper {
                        display: flex;
                        flex-direction: column;
                        padding: 10px;
                        .cast_name {
                            font-weight: 700;
                        }
                        .cast_original_name {
                            font-size: 14px;
                        }
                        .cast_episodes {
                            font-size: 14px;
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}

.movie_images_module {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
    .module_content_wrapper {
        display: flex;
        flex-direction: row;
        gap: 0;
        width: fit-content;
        height: 600px;
        background-color: white;
        padding: 0;
        position: relative;
        .close_icon {
            position: absolute;
            top: 20px;
            right: 20px;
            &:hover {
                cursor: pointer;
            }
        }
        .module_content_img {
            width: 400px;
            height: 100%;
        }
        .content_info_wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}