.hovered_nav_result {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1px;
    display: none;
    background-color: white;
    outline: 1px solid $light-gray;
    padding: 6px 0;
    border-radius: 4px;
    min-width: 200px;
    .result_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 0;
        .result_link {
            width: fit-content;
            height: fit-content;
            padding: 6px 60px 6px 30px;
            font-family: 'Source Sans Pro', Arial, sans-serif;
            color: black;
            white-space: nowrap;
            transition: 0.3s;
            &:hover {
                background-color: $lighter-gray;
            }
            &:nth-child(6) {
                margin-bottom: 10px;
            }
        }
    }
}