.films_list_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    width: 100%;
    height: fit-content;
    .list_head_wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        .list_title {
            font-size: 26px;
            font-weight: 600;
        }
        .list_filter_wrapper {
            display: flex;
            flex-direction: row;
            gap: 0;
            width: fit-content;
            height: fit-content;
            border-radius: 30px;
            outline: 1px solid $dark-blue;
            padding: 0;
            position: relative;
            .filter_item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                border-radius: 30px;
                padding: 4px 20px;
                font-weight: 600;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                }
            }
            .active_filter {
                background: $dark-green-linear-gradient;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
            .indicator {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $dark-blue;
                height: 100%;
                display: block;
                z-index: -1;
                border-radius: 30px;
                transition: 0.3s;
            }
            .indicator_on_right {
                right: 0;
            }
            .indicator_on_left {
                left: 0;
            }
        }
    }
}