.films_list_wrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
    width: 100%;
    height: fit-content;
    background-image: url(https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg);
    background-repeat: no-repeat;
    background-position: 50% 205px;
    background-size: 100%;
    height: fit-content;
    .list_head_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding-left: 40px;
        .list_title {
            font-size: 22px;
            font-weight: 600;
        }
        .list_filter_wrapper {
            display: flex;
            flex-direction: row;
            gap: 0;
            width: fit-content;
            height: fit-content;
            border-radius: 30px;
            outline: 1px solid $dark-blue;
            padding: 0;
            position: relative;
            .filter_item {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                border-radius: 30px;
                padding: 4px 20px;
                font-weight: 600;
                color: $dark-blue;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                }
            }
            .active_filter {
                background: $dark-green-linear-gradient;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
            .indicator {
                position: absolute;
                top: 0;
                left: 0;
                background-color: $dark-blue;
                height: 100%;
                display: block;
                z-index: -1;
                border-radius: 30px;
                transition: 0.3s;
            }
            .indicator_on_right {
                right: 0;
            }
            .indicator_on_left {
                left: 0;
            }
        }
    }
    .films_list {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        overflow-x: auto;
        padding: 20px 40px;
        .card_wrapper {
            width: 150px;
            min-width: 150px;
            display: flex;
            flex-direction: column;
            position: relative;
            .card_img {
                min-height: calc(150px * 1.5);
                border-radius: 8px;
                width: 100%;
                background-size: cover;
            }
            .about_card_wrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 0;
                padding: 24px 8px 8px 8px;
                .popularity_wrapper {
                    position: absolute;
                    width: 35px;
                    height: 35px;
                    top: -20px;
                    left: 10px;
                    background-color: $dark-gray;
                    color: white;
                    outline: 1px solid $dark-gray;
                }
                .card_title {
                    font-weight: 600;
                    color: black;
                    &:hover {
                        color: $light-blue;
                    }
                }
                .card_date {
                    font-weight: 100;
                    color: gray;
                }
            }
        }
    }
}