.popularity_wrapper {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $dark-gray;
    color: white;
    outline: 1px solid $dark-gray;
    .popularity {
        position: relative;
        width: 100%;
        height: 100%;
        .circular-chart {
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            .circle {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                fill: none;
                stroke-width: 2px;
                stroke-linecap: round;
            }
        }
        .popularity_percent {
            font-family: 'Inter', Arial, sans-serif;
            font-weight: 600;
            font-size: 12px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: '%';
                position: relative;
                left: 1px;
                top: -2px;
                font-size: 6px;
            }
        }
    }
}