* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 8px;
}

button {
    cursor: pointer;
}

.arrow_to_right {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-830-arrow-thin-right-white-27b356aac3227210acca2ae44fcfed8a6c0ca7adde4e867fe9793cae4ebda9d1.svg");
}

.close_icon {
    background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-599-menu-close-7400e9a2ea92ad8d7cccf18d1ea34cd690790638a6e7768922eaef6e07109723.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;    
}

section {
    width: 100%;
    height: fit-content;
}