@font-face {
  font-family: "Source Sans Pro";
  src: url("../../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: lighter;
  font-style: normal;
}
.films_list_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.films_list_wrapper .list_head_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.films_list_wrapper .list_head_wrapper .list_title {
  font-size: 26px;
  font-weight: 600;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px;
  outline: 1px solid #032541;
  padding: 0;
  position: relative;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .filter_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 30px;
  padding: 4px 20px;
  font-weight: 600;
  transition: 0.3s;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .filter_item:hover {
  cursor: pointer;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .active_filter {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #032541;
  height: 100%;
  display: block;
  z-index: -1;
  border-radius: 30px;
  transition: 0.3s;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .indicator_on_right {
  right: 0;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .indicator_on_left {
  left: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 8px;
}

button {
  cursor: pointer;
}

.arrow_to_right {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-830-arrow-thin-right-white-27b356aac3227210acca2ae44fcfed8a6c0ca7adde4e867fe9793cae4ebda9d1.svg");
}

header {
  background-color: #032541;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
  transition: 0.4s;
  transition-delay: 0.2s;
}
header .header_navs_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header .header_navs_wrapper .header_brand {
  height: 20px;
  width: 154px;
}
header .header_navs_wrapper .header_nav {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: white;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 15px;
}
header .header_navs_wrapper .header_hovered_nav_wrapper {
  position: relative;
  padding: 10px;
}
header .header_navs_wrapper .header_hovered_nav_wrapper:hover > .hovered_nav_result {
  display: block !important;
}
header .header_navs_wrapper .header_hovered_nav_wrapper .hovered_nav_result {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1px;
  display: none;
  background-color: white;
  outline: 1px solid rgb(240, 240, 240);
  padding: 6px 0;
  width: 200px;
  border-radius: 4px;
}
header .header_navs_wrapper .header_hovered_nav_wrapper .hovered_nav_result .result_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0;
}
header .header_navs_wrapper .header_hovered_nav_wrapper .hovered_nav_result .result_list .result_link {
  padding: 6px 20px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: black;
  transition: 0.3s;
}
header .header_navs_wrapper .header_hovered_nav_wrapper .hovered_nav_result .result_list .result_link:hover {
  background-color: #f8f9fa;
}

.showed_header {
  top: 0;
}

.closed_header {
  top: -80px;
}

main {
  margin: 64px 0 0 0;
  height: 300vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .main_head_images_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  widows: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main .main_head_images_wrapper .main_head_wrapper {
  height: calc((100vh - 64px) / 2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}
main .main_head_images_wrapper .main_head_wrapper .main_head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper .search_input {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 17px;
  color: gray;
  border-color: transparent !important;
  outline-color: transparent !important;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper .search_button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  border-radius: 50px;
  padding: 0 25px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background: linear-gradient(to right, rgb(30, 213, 169), rgb(1, 180, 228));
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper .search_button:hover {
  color: black;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(1) {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg");
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(1) .head_title {
  font-weight: 700;
  font-size: 44px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(1) .head_about {
  font-weight: 600;
  font-size: 30px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) {
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces/rGbRnRvkmrSub07ty89Vnlsh6UX.jpg");
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .main_head {
  background-color: rgba(45, 28, 111, 0.5);
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .title_wrapper {
  font-weight: 600;
  font-size: 64px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .head_about {
  font-weight: 400;
  font-size: 18px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .head_button {
  padding: 8px 16px;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 1em;
  gap: 4px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .head_button .arrow_to_right {
  width: 16px;
  height: 16px;
  display: block;
}
main .main_films_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 90px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}/*# sourceMappingURL=style.css.map */