@charset "UTF-8";
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../../Fonts/Inter/static/Inter-Regular.ttf");
}
.popularity_wrapper {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #081c22;
  color: white;
  outline: 1px solid #081c22;
}
.popularity_wrapper .popularity {
  position: relative;
  width: 100%;
  height: 100%;
}
.popularity_wrapper .popularity .circular-chart {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
.popularity_wrapper .popularity .circular-chart .circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
}
.popularity_wrapper .popularity .popularity_percent {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popularity_wrapper .popularity .popularity_percent::after {
  content: "%";
  position: relative;
  left: 1px;
  top: -2px;
  font-size: 6px;
}

.films_list_wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 0 0 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.films_list_wrapper:nth-child(1) {
  background-image: url(https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg);
  background-repeat: no-repeat;
  background-position: 50% 205px;
  background-size: 100%;
}
.films_list_wrapper .list_head_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 40px;
}
.films_list_wrapper .list_head_wrapper .list_title {
  font-size: 22px;
  font-weight: 600;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 30px;
  outline: 1px solid #032541;
  padding: 0;
  position: relative;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .filter_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 30px;
  padding: 4px 20px;
  font-weight: 600;
  color: #032541;
  transition: 0.3s;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .filter_item:hover {
  cursor: pointer;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .active_filter {
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .indicator {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #032541;
  height: 100%;
  display: block;
  z-index: -1;
  border-radius: 30px;
  transition: 0.3s;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .indicator_on_right {
  right: 0;
}
.films_list_wrapper .list_head_wrapper .list_filter_wrapper .indicator_on_left {
  left: 0;
}
.films_list_wrapper .films_list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  padding: 20px 40px;
}
.films_list_wrapper .films_list .card_wrapper {
  width: 150px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.films_list_wrapper .films_list .card_wrapper .card_img {
  min-height: 225px;
  border-radius: 8px;
  width: 100%;
  background-size: cover;
}
.films_list_wrapper .films_list .card_wrapper .about_card_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 24px 8px 8px 8px;
}
.films_list_wrapper .films_list .card_wrapper .about_card_wrapper .popularity_wrapper {
  position: absolute;
  width: 35px;
  height: 35px;
  top: -20px;
  left: 10px;
}
.films_list_wrapper .films_list .card_wrapper .about_card_wrapper .card_title {
  font-weight: 600;
  color: black;
}
.films_list_wrapper .films_list .card_wrapper .about_card_wrapper .card_title:hover {
  color: rgb(1, 180, 228);
}
.films_list_wrapper .films_list .card_wrapper .about_card_wrapper .card_date {
  font-weight: 100;
  color: gray;
}

.hovered_nav_result {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1px;
  display: none;
  background-color: white;
  outline: 1px solid rgb(240, 240, 240);
  padding: 6px 0;
  border-radius: 4px;
  min-width: 200px;
}
.hovered_nav_result .result_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0;
}
.hovered_nav_result .result_list .result_link {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 6px 60px 6px 30px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
}
.hovered_nav_result .result_list .result_link:hover {
  background-color: #f8f9fa;
}
.hovered_nav_result .result_list .result_link:nth-child(6) {
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 8px;
}

button {
  cursor: pointer;
}

.arrow_to_right {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-830-arrow-thin-right-white-27b356aac3227210acca2ae44fcfed8a6c0ca7adde4e867fe9793cae4ebda9d1.svg");
}

.header_wrapper {
  background-color: #032541;
  height: 64px;
  width: 100%;
}

header {
  background-color: #032541;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
  transition: 0.4s;
  transition-delay: 0.2s;
}
header .header_navs_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  width: -moz-fit-content;
  width: fit-content;
}
header .header_navs_wrapper .header_brand {
  height: 20px;
  width: 154px;
}
header .header_navs_wrapper .header_nav {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: white;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 15px;
}
header .header_navs_wrapper .header_hovered_nav_wrapper {
  position: relative;
  padding: 10px;
}
header .header_navs_wrapper .header_hovered_nav_wrapper:hover > .hovered_nav_result {
  display: block !important;
}

.showed_header {
  top: 0;
}

.closed_header {
  top: -80px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 40px;
}
main .main_head_images_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
main .main_head_images_wrapper .main_head_wrapper {
  height: calc((100vh - 64px) / 2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}
main .main_head_images_wrapper .main_head_wrapper .main_head {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper .search_input {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 17px;
  color: gray;
  border-color: transparent !important;
  outline-color: transparent !important;
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper .search_button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  border-radius: 50px;
  padding: 0 25px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background: linear-gradient(to right, rgb(30, 213, 169), rgb(1, 180, 228));
}
main .main_head_images_wrapper .main_head_wrapper .main_head .main_search_wrapper .search_input_wrapper .search_button:hover {
  color: black;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(1) {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,00192f,00baff)/zqkmTXzjkAgXmEWLRsY4UpTWCeo.jpg");
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(1) .head_title {
  font-weight: 700;
  font-size: 44px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(1) .head_about {
  font-weight: 600;
  font-size: 30px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) {
  background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces/rGbRnRvkmrSub07ty89Vnlsh6UX.jpg");
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .main_head {
  background-color: rgba(45, 28, 111, 0.5);
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .title_wrapper {
  font-weight: 600;
  font-size: 64px;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .head_about {
  font-weight: 400;
  font-size: 18px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .head_button {
  padding: 8px 16px;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 1em;
  gap: 4px;
}
main .main_head_images_wrapper .main_head_wrapper:nth-child(2) .head_button .arrow_to_right {
  width: 16px;
  height: 16px;
  display: block;
}
main .main_films_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 90px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #032541;
  height: 321px;
  color: white;
  padding: 40px 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
}
footer .footer_content_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 40px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer .footer_brand_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
footer .footer_brand_wrapper .footer_brand_img {
  width: 130px;
  height: 130px;
}
footer .footer_brand_wrapper .footer_white_btn {
  background-color: white;
  border-radius: 6px;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(1, 180, 228);
}
footer .footer_links_wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}
footer .footer_links_wrapper .footer_link_item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}
footer .footer_links_wrapper .footer_link_item .footer_link_title {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
footer .footer_links_wrapper .footer_link_item .footer_link {
  color: white;
  font-size: 17px;
}

nav {
  font-family: "Source Sans Pro", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  height: 46px;
}
nav .nav_items_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border: 1px solid white;
  height: 100%;
  width: 100%;
}
nav .nav_items_wrapper .nav_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  position: relative;
}
nav .nav_items_wrapper .nav_item .nav_item_name + .hovered_nav_result {
  top: calc(100% - 6px);
}
nav .nav_items_wrapper .nav_item .nav_item_name::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 4px;
}
nav .nav_items_wrapper .nav_item::after {
  content: "";
  background-size: cover;
  background-position: 0 0;
  background-image: url("../../../Images/triangle.png");
  rotate: 180deg;
  width: 7px;
  height: 7px;
}
nav .nav_items_wrapper .nav_item:hover {
  cursor: pointer;
}
nav .nav_items_wrapper .nav_item:hover .nav_item_name {
  opacity: 0.8;
}
nav .nav_items_wrapper .nav_item:hover .nav_item_name + .hovered_nav_result {
  display: block;
}
nav .nav_items_wrapper .nav_item:hover::after {
  opacity: 0.5;
}
nav .nav_items_wrapper .active_item .nav_item_name::before {
  background-color: rgb(1, 180, 228);
}

.movie_content_wrapper {
  padding: 0;
  z-index: -1;
}
.movie_content_wrapper .movie_content_head_wrapper {
  height: calc(100vh - 110px);
  width: 100%;
  background-size: cover;
  background-position: 240px 0;
  background-repeat: no-repeat;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 80px;
  color: white;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(32, 32, 11) calc(50vw - 170px - 340px), rgba(32, 32, 11, 0.84) 30%, rgba(32, 32, 11, 0.84) 100%);
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_img_wrapper {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_img_wrapper .movie_img {
  border-radius: 8px;
  max-width: 300px;
  max-height: 450px;
  height: 450px;
  width: 300px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .movie_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  font-weight: 600;
  font-size: 32px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .movie_title .movie_release_year {
  font-weight: 300;
  font-size: 30px;
  opacity: 0.8;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .title_info_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .title_info_wrapper .version_btn {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 2px 4px;
  border-radius: 4px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .title_info_wrapper .title_release_date {
  font-weight: 500;
  font-size: 15px;
  font-family: "Source Sans Pro", Arial;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .title_info_wrapper .title_genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  font-size: 15px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .title_info_wrapper .title_genres::before {
  margin-top: 4px;
  content: "•";
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .title_info_wrapper .title_time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 10px;
  font-size: 15px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .movie_title_wrapper .title_info_wrapper .title_time::before {
  margin-top: 4px;
  content: "•";
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_rating_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_rating_wrapper .popularity_wrapper {
  scale: 1.85;
  margin: 18px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_rating_wrapper .movie_rating_title {
  font-weight: 600;
  font-size: 14px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_options_wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_options_wrapper .movie_option {
  width: 46px;
  height: 46px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #032541;
  position: relative;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_options_wrapper .movie_option .option_tooltip {
  display: none;
  position: absolute;
  left: auto;
  right: auto;
  top: calc(100% + 10px);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 12px;
  background-color: #032541;
  border-radius: 4px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_options_wrapper .movie_option .option_tooltip::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: calc(50% - 6px);
  border: 6px solid;
  border-color: transparent transparent #032541 transparent;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_options_wrapper .movie_option .option_tooltip .tooltip_text {
  font-size: 14px;
  color: white;
  white-space: nowrap;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_options_wrapper .movie_option:hover {
  cursor: pointer;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_options_wrapper .movie_option:hover > .option_tooltip {
  display: block;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_trailer_link {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 8px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_trailer_link:hover {
  cursor: pointer;
  opacity: 0.7;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_content_info_wrapper .movie_estimation_wrapper .movie_trailer_link::before {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background-image: url("../../Images/triangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_overview_wrapper {
  font-family: "Source Sans Pro", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_overview_wrapper .movie_part_text {
  font-size: 18px;
  opacity: 0.7;
  font-style: italic;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_overview_wrapper .movie_overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_overview_wrapper .movie_overview .overview_title {
  font-size: 20px;
  font-weight: 600;
}
.movie_content_wrapper .movie_content_head_wrapper .movie_content_head .about_movie_wrapper .movie_overview_wrapper .movie_overview .overview {
  font-size: 16.1px;
  white-space: normal;
  word-wrap: break-word;
  text-overflow: clip;
}/*# sourceMappingURL=style.css.map */