nav {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    height: 46px;
    .nav_items_wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        border: 1px solid white;
        height: 100%;
        width: 100%;
        .nav_item {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            width: fit-content;
            gap: 10px;
            position: relative;
            .hovered_nav_result {
                top: calc(100% - 6px);
            }
            .nav_item_name {
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background-color: white;
                    width: 100%;
                    height: 4px;
                }
            }
            &::after {
                content: '';
                background-size: cover;
                background-position: 0 0;
                background-image: url("../../../Images/triangle.png");
                rotate: 180deg;
                width: 7px;
                height: 7px;
            }
            &:hover {
                cursor: pointer;
                .nav_item_name {
                    opacity: 0.8;
                    & + .hovered_nav_result {
                        display: block;
                    }
                }
                &::after {
                    opacity: 0.5;
                }
            }
        }
        .active_item {
            .nav_item_name {
                &::before {
                    background-color: $light-blue;
                }
            }
        }
    }
}